body {
    margin: 0;
}

#wrap{
    height: 100%;
    width: 100%;
    position: fixed;
}

#scroll-proxy {
    height: 2400px;
}

#container{
    height: 540px;
    width: 1200px;
    position: relative;
    top: 35%;
    margin: -270px auto;
}

#environment{
    perspective: 400px;
    perspective-origin: center 375px;
    transform: perspective(400px);
    width: 100%;
    height: 540px;
}

#content{
    transform-style: preserve-3D;
    width: 100%;
    height: 100%;
    top: 20px;
    position: absolute;
}

section{
    width: 100%;
    height: 100%;
    position: absolute;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexItem {
    width: 20%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    /*border: 2px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallImage {
    width: 100%;
    height: auto;
    max-height: 300px;
}

.smallImage:hover {
    box-shadow: 0 0 10px #ccc;
    cursor: pointer;
    cursor: hand;
}

#overlay {
    position: absolute;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 2%;
    border: 2px solid black;
    background-color: white;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    overflow: scroll;
}

.overlay-flex-side {
    width: 10%;
    height: 100%;
}

.overlay-flex-middle {
    width: 80%;
    height: 100%;
    display: flex;
}

.overlay-image {
    margin-top: 50px;
    margin-left: 5%;
    width: 60%;
    height: auto;
}

.overlay-text {
    width: 40%;
    color: black;
    margin-bottom: 100px;
    font-family: sans-serif;
}

.largeImage {
    width: 100%;
}

#close-overlay {
    color: black;
    font-size: 40px;
    text-align: right;
    margin-top: 20px;
    margin-right: 50px;
    font-family: sans-serif;
}

#close-overlay:hover {
    cursor: pointer;
    cursor: hand;
}

.slideButton {
    margin-top: 25%;
    display: inline;
    width: 5%;
    font-size: 30px;
    color: black;
    text-align: center;
}

.slideButton:hover {
    cursor: pointer;
    cursor: hand;
}

.slideImage {
    display: inline;
    width: 90%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.headerLogo {
    width: 15%;
    margin-left: 40px;
    height: 100%;
}

.headerLogo img {
    max-height: 100%;
}

.navLinks {
    width: 30%;
    margin-right: 50px;
    text-align: center;
    margin-top: 15px;
}

.navLinks a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
    font-weight: lighter;
}

.navLinks a:hover {
    cursor: pointer;
    cursor: hand;
}
